* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0ffe0; 
    color: #333;
}
.header {
    text-align: center;
    padding: 100px;
    background: linear-gradient(50deg, #d1f8ac, #fdfdd3); 
    color: #333;
    background-position:center;
    
}
.header h1 {
    background:rgba(255, 255, 255, 0.5);
    width:40%;
    margin-left: 30%;
    text-align: center;
    align-items: center;
    font-size: 3rem;
    color: #000000;
}
.header p {
    font-size: 2rem;
    background:rgba(255, 255, 255, 0.5);
    margin: 15px 0;
}
.header button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #ffeb3b;
    border: 2px solid #fdff95;
    border-radius: 5px;
    cursor: pointer;
}
.header button:hover {
    background-color: #ffdf00;
}

.top-attractions {
    padding: 50px 20px;
    text-align: center;
    background-color:  #e5f0da; 
}
.top-attractions h2 {
    font-size: 2.5rem;
    color: #2e2e2e;
    margin-bottom: 20px;
}
.other-places {
    padding: 50px 20px;
    text-align: center;
    background-color:  #e5f0da; 
}
.other-places h2 {
    font-size: 2.5rem;
    color: #2e2e2e;
    margin-bottom: 20px;
}
.attractions-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.attraction {
    width: 280px;
    background-color: #d6fae6;
    border: 2px solid #d4d4d4;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    text-align: left;
}
.attraction img {
    width: 100%;
    border-radius: 5px;
}
.attraction h3 {
    font-size: 1.5rem;
    color: #2e2e2e;
    margin-top: 10px;
}
.attraction p {
    font-size: 1rem;
    color: #555;
    margin: 10px 0;
}

.contact {
    padding: 50px 20px;
    background-color: #e5f0da; 
    text-align: center;
}
.contact h2 {
    font-size: 2.5rem;
    color: #2e2e2e;
    margin-bottom: 20px;
}
.contact p{
    font-size: 125%;
}
.contact form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: auto;
}
.contact input, .contact textarea, .contact button {
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 5px;
}
.contact button {
    background-color: #ffeb3b;
    border: none;
    cursor: pointer;
}
.contact button:hover {
    background-color: #ffdf00;
}
